@tailwind base;
@tailwind components;
@tailwind utilities;

$text-color: #FFFFFF;
$accent-color: #192AC3;

@font-face {
  font-family: 'Arvo Regular';
  src: url('./res/fonts/Arvo-Regular.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./res/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('./res/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('./res/fonts/Poppins-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'Poppins Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: $text-color;
  background-color: #080808;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moviesContainer {
  margin: 80px 150px 0px 150px;
}

@media only screen and (min-width: 992px) {
  .mainGrid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 2rem;
  }
}


/* Selected Movie */
.selectedMovieBackground {
  width: 100%;
  object-fit: cover;
  left: calc(50% - 1921px/2 + 0.5px);
  top: 0px;
  background: linear-gradient(90deg, #070707 13.01%, rgba(0, 0, 0, 0.69) 75.59%);
}

.selectedMovieDetailMiniPoster {
  width: 170px;
  max-width: 170px;
}

.selectedMovieInfo {
  font-family: 'Poppins Regular', sans-serif;
  opacity: 0.6;
}

.selectedMovieTitle {
  font-family: 'Arvo Regular', serif;
  font-size: 3rem;
}

.selectedMovieOverview {
  opacity: 0.8;
}

.selectedMovieButton {
  box-shadow: 0px 7px 42px rgba(0, 15, 147, 0.44);
  border-radius: 20px;
  width: 260px;
}

.selectedMovieWatchNowButton {
  font-family: 'Poppins SemiBold', sans-serif;
  background-color: $accent-color;
}

.selectedMovieAddToListButton {
  font-family: 'Poppins SemiBold', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.16);
  filter: drop-shadow(0px 7px 42px rgba(0, 15, 147, 0.44));
}

/* My list */
.myListTitle {
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 24px;
}

/* Discover */
.discoverTitle {
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 24px;
}

/* Page buttons */
.pageButton {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  width: 162px;
  height: 53px;
}

.pageButtonDisabled {
  opacity: 0.4;
}

/* Movie card */
.movieContainer {
  background: #131313;
  border-radius: 20px;
  animation-duration: 0.5s;
  animation-name: movieCardHoverOut;
}

@keyframes movieCardHoverOut {
  from {
    background: #2D2D2D;
    width: 110%;
    margin: -5%;
  }
  from {
    width: 100%;
    margin: 0%;
    background: #131313;
  }
}

.movieContainerHover {
  border-radius: 20px;
  width: 110%;
  margin: -5%;
  z-index: 2;
  background: #2D2D2D;
  box-shadow: 0px 33px 32px rgba(0, 0, 0, 0.81);
  animation-duration: 0.5s;
  animation-name: movieCardHover;
}

@keyframes movieCardHover {
  from {
    width: 100%;
    margin: 0%;
  }
  to {
    background: #2D2D2D;
    width: 110%;
    margin: -5%;
  }
}

.movieCategory {
  background: $accent-color;
  border-radius: 0px 0px 11px 11px;
}

.moviePoster {
  border-radius: 20px;
}

.movieTitle {
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 20px;
  text-overflow: ellipsis;
}

.movieInfo {
  font-family: 'Poppins Regular', sans-serif;
  font-size: 16px;
  opacity: 0.6;
}

.movieButtonsContainer {
  margin-bottom: -48px;
}

.moviePlayButton {
  background: #192AC4;
  border-radius: 20px;
  width: 66px;
  height: 62px;
}

.movieAddToListButton {
  background: #FFFFFF;
  border-radius: 20px;
  width: 66px;
  height: 62px;
}

/* Movie Details */
.moviesDetailContainer {
  margin: 0px 150px 0px 150px;
}

.movieDetailSimilarTitlesTitle {
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 35px;
}

.movieDetailBestRatedTitle {
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 35px;
}

/* Related Movie */ 
.relatedMovieTitle {
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 20px;
}


/* Filters */
.filterContainer {
  width: 400px;
  max-width: 400px;
}

.filterContainerBubble {
  background: #151515;
  border-radius: 20px;
}

.filterContainerTitle {
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 24px;
}

.filterContainerDisabled {
  opacity: 0.4;
}

/* Star Filter */
.starFilterTitle {
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 20px;
}

.star {
  width: 20px;
  fill: #FFB800;

}

/* Genre Filter */
.genreFilterTitle {
  font-family: 'Poppins SemiBold', sans-serif;
  font-size: 20px;
}

.genreFilterLabel {
  font-family: 'Poppins Regular', sans-serif;
  font-size: 16px;
}

.genreFilterLabelDisabled {
  opacity: 0.5;
}

/* Search bar */
.searchBarInput {
  font-family: 'Poppins Regular', sans-serif;
  font-size: 16px;
  border-radius: 20px;
}

.searchBarInput:focus {
  outline: none;
}

.searchBarInputEmpty {
  background: #424242;
  border: 1px solid #7C7C7C;
}

.searchBarInputWithText {
  background: #FFFFFF;
  border: 1px solid #192AC4;
  color: #000000;
}

.searcBarIcon {
  margin-left: -48px;
}